@use "../../styles/variables" as v;

.post {
  padding: 0.5rem 1rem;
  width: min(300px, 100%);
  overflow-wrap: anywhere;
  background-color: v.$color-theme-secondary;
  color: black;
  border-radius: 5px;

  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}
