//  Colors

$color-theme: #a800a8;
$color-theme-bright: #ff93ff;
$color-theme-dark: #380038;

$color-theme-secondary: #f5f5f5;

$color-font-theme: #f5f5f5;
$color-font-secondary: $color-theme-dark;

// Fonts

$font-family-global: "Montserrat", sans-serif;

// Layout
$height-header: 60px;
$footer-height: 50px;
$main-height-flex: 1;
$padding-inline-global: 1rem;
$padding-block-global: 1rem;

// Buttons/Links
$button-padding: 0.3rem;
