.newPostSection {
  overflow-y: hidden;
  height: 270px;
}
.expand {
  animation: 1s ease-in-out expand;
}

.condense {
  animation: 1s ease-in-out condense;
}

@keyframes expand {
  0% {
    height: 0px;
  }
  100% {
    height: 270px;
  }
}
